body {
    background: linear-gradient(135deg, rgba(76, 76, 76, 1) 0%, rgba(89, 89, 89, 1) 12%, rgba(102, 102, 102, 1) 25%, rgba(71, 71, 71, 1) 39%, rgba(44, 44, 44, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(17, 17, 17, 1) 60%, rgba(43, 43, 43, 1) 76%, rgba(28, 28, 28, 1) 91%, rgba(19, 19, 19, 1) 100%);
    background-size: cover;
;
}

.CV {
    background-color: white;
    border: ridge 10px;
    padding-right: 5%;
    padding-left: 5%;
    min-width: 625px;
    max-width: 900px;
    box-shadow: 0 0 20px white ;
    padding-bottom: 20px;
    margin: 5% auto;
}

.Nom {
    text-align: center;
    padding-top: 7px;
    margin-right: 9%;
    color: lightgray;
    text-shadow: 5px -5px 6px;
    font-family: 'Istok Web', sans-serif;
    font-size: 50px
}

.info {
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-right: 9%;
    margin-top: -12px;
}

.entPri {
    background: radial-gradient(ellipse at center, rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%);
    padding-bottom: 12px;
    border-radius: 1em;
    box-shadow: 0 0 20px rgba(83,159,225,1);
}

.entEx {
    background: linear-gradient(135deg, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
    border: black solid 2px;
    border-radius: 20px;
    padding-left: 0.3em;
    height: 30px;
    margin-top: 50px;
    padding-top: 5px;
    box-shadow: 0 0 5px;
}

.entFo {
    background: linear-gradient(135deg, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
    border: black solid 2px;
    border-radius: 20px;
    padding-left: 0.3em;
    height: 30px;
    padding-top: 5px;
    box-shadow: 0 0 5px;
}

.entCo {
    background: linear-gradient(135deg, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
    border: black solid 2px;
    border-radius: 20px;
    padding-left: 0.3em;
    height: 30px;
    padding-top: 5px;
    box-shadow: 0 0 5px;
}

h3 {
    background: linear-gradient(to right, rgba(30,87,153,0.70) 0%,rgba(89,148,202,0.60) 62%,rgba(97,156,208,0.40) 70%,rgba(125,185,232,0.20) 100%);
    border-radius: 20px;
    padding-left: 0.5em;
    box-shadow: 1px -1px 20px rgba(125,185,232,0.70);
}

span {
    float: right;
    border-radius: 20px;
    padding-right: 0.3em;
}

li {
    margin-left: 2em;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
}

#photo {
    float: left;
    margin: 10px;
    border-radius: 5em;
    box-shadow: 2px -2px 15px;
}

.logo{
    display: inline-block;
    float: right;
    margin-top: -142px;
    margin-right: 10px;
    line-height: 40px;
}

h4 {
    text-decoration: underline;
    color: cadetblue;
    background: linear-gradient(to right, rgba(30,87,153,0.19) 0%,rgba(125,185,232,0) 100%);
    padding-left: 0.5em;
    border-radius: 2em;
}

.L1 {
    display: inline-block;
    margin-right: 65px;
    margin-bottom: 10px;
}

.L2 {
    float: right;
    vertical-align: top;
}

.entCont {
    background: linear-gradient(135deg, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
    border: black solid 2px;
    border-radius: 20px;
    padding-left: 0.3em;
    height: 30px;
    padding-top: 5px;
    box-shadow: 0 0 5px;

}

a[class^=afficher], #contact {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

a:hover, #contact:hover * {
    transition: all 0.3s;
    color: #a7a7a7;
    transform: scale3d(1, 1.2, 1);
}

#nom {
    margin-right: 20px;
    margin-left: 6px;
    border-radius: 10px;
}

#prenom {
    border-radius: 10px;
}

#mail {
    margin-right: 20px;
    border-radius: 10px;
}

#sexe {
    margin-left: 20px;
    border-radius: 10px;
    border: inset;
}

.formulaire {
    font-family: 'IBM Plex Sans', sans-serif;
    padding-top: 2%;
}

legend {
    background: linear-gradient(to right, rgba(30,87,153,0.70) 0%,rgba(89,148,202,0.60) 62%,rgba(97,156,208,0.40) 70%,rgba(125,185,232,0.20) 100%);
    border-radius: 10px;
}

fieldset {
    border-radius: 10px;
    border: 5px inset rgba(89, 148, 202, 0.60);
}

#envoyer {
    font-family: "Arial Black", serif;
    color: aliceblue;
    margin-left: 20px;
    margin-right: 20px;
    border: ridge rgba(30,87,153,0.40);
    background-color: rgba(30,87,153,0.60);
    border-radius: 10px;
    cursor: pointer;
}

#effacer {
    font-family: "Arial Black", serif;
    color: aliceblue;
    border: ridge rgba(30,87,153,0.40);
    background-color: rgba(30,87,153,0.60);
    border-radius: 10px;
    cursor: pointer;
}

.afficherForm, .masquerForm {
    display:block;
    text-decoration: none;
    color: #a7a7a7;
}
.afficherForm + .masquerForm,
.afficherForm ~#form,
.afficherForm:focus {
    position:fixed;
    opacity: 0;
    clip: rect(1px, 1px, 1px, 1px);
}
.afficherForm:focus + .masquerForm ,
.afficherForm:focus ~ #form {
    opacity:1;
    position:relative;
}

.afficherComp, .masquerComp {
    display:block;
    text-decoration: none;
    color: #a7a7a7;
}
.afficherComp + .masquerComp,
.afficherComp ~#comp,
.afficherComp:focus {
    position:fixed;
    opacity: 0;
    clip: rect(1px, 1px, 1px, 1px);
}
.afficherComp:focus + .masquerComp ,
.afficherComp:focus ~ #comp {
    opacity:1;
    position:relative;
}

.afficherExp, .masquerExp {
    display:block;
    text-decoration: none;
    color: #a7a7a7;
}
.afficherExp + .masquerExp,
.afficherExp ~#exp,
.afficherExp:focus {
    position:fixed;
    opacity: 0;
    clip: rect(1px, 1px, 1px, 1px);
}
.afficherExp:focus + .masquerExp ,
.afficherExp:focus ~ #exp {
    opacity:1;
    position:relative;
}

@media(max-width: 1024px)  {


    .CV {
        padding: 0;
        margin: 0;
        max-width: 100%;
    }

    .entPri {
        margin-top: -5.6%;
    }

    [class^=ent] {
    border-radius: 0;
        font-size: 2.5rem;
        padding-bottom: 1.5rem;
    }

    .Nom {
        font-size: 5rem;
    }

    #photo {
        border-radius: 0;
        height: 255px;
        width: 200px;
        box-shadow: none;
        margin: auto;
    }

    .info {
        font-size: 1.7rem;
    }

    .logo img {
        height: 4.5rem;
        width: 4.5rem;
    }

    .logo {
        margin-top: -15.1rem;
    }

    #log_mail, #log_tel {
        height: 2rem;
        width: 2rem;
    }

    span {
        font-size: 1.8rem;
        margin-top: 0.4rem;
    }

    #comp * {
        font-size: 2.2rem;
    }

    a:hover, #contact:hover * {
        transition: all 1ms;
        color: #a7a7a7;
        transform: scale3d(1, 1, 1);
    }

    .formulaire * {
        font-size: 2rem;
    }

    [for] {
        display: flex;
        flex-direction: column;
    }

    #message {
        width: 100%;
    }

    input {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    select {
        margin-top: 1rem;
    }

    option {
        font-size: 1.5rem !important;
    }
}